<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Floating Library</title>
        <meta name="description" content="A webnovel update tracking site">
        <meta name="keywords" content="fanfiction,webnovel,tracker">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/reset.css') }}">
        <script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
    </head>
    <body>
        {% for message in get_flashed_messages() %}<div>{{ message }}</div>{% endfor %}
        {% include "book/create.html" %}
        {% include "book/index.html" %}
    </body>
</html>
