{% if books %}
    <ol>
        {% for book in books %}
            <li>
                <p>{{ book.title }}</p>
                <p>{{ book.author }}</p>
                <p>{{ book.date_updated }}</p>
                <p>{{ book.date_added }}</p>
                <!-- TODO: template filters on init -->
                <button hx-put="{{ url_for('book.update', id=book.id) }}" hx-swap="none">Update</button>
            </li>
        {% endfor %}
    </ol>
{% else %}
    <p>No books in library</p>
{% endif %}
